body{
    margin: 0;
    background-color: hsl(217, 54%, 11%);
    color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
    min-height: 716px;
}
a{
    color: white;
    text-decoration: none;
    transition: all 1s ease-in-out;
}
a:hover {
    color: cyan;
    cursor: pointer;
}
.card{
    background-color: hsl(216, 50%, 16%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1.25rem;
    border-radius: 0.625rem;
}
.card-image-container{
    
    background-image: url("../images/image-equilibrium.jpg");
    background-size: 18.75rem;
    width: 18.75rem;
    height: 18.75rem;
    border-radius: 0.625rem;
    position: relative;
}
.card-image-container::before {
    content: '';
    background: url('../images/icon-view.svg');
    background-size: auto;
    background-repeat: no-repeat;
    height: 16%;
    width: 16%;
    position: absolute;
    top: 7.875rem;
    left: 7.875rem;
    opacity: 0;
    transition: opacity 1s;
}
.card-image-container::after{
    content: '';
    background-color: cyan;
    border-radius: 0.625rem;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}
.card-image-container:hover::after {
    opacity: 0.4; /*amount of opacity to blend the two images*/
}
.card-image-container:hover::before {
    opacity: 1; /*amount of opacity to blend the two images*/
}
.card-body{
    width: 18.75rem;
}
#card-heading{
    text-align: left;
    font-size: 1.375rem;
    font-weight: 600;
}
.card-description{
    text-align: left;
    font-size: 1.125rem;
    color: hsl(215, 51%, 70%);
    font-weight: 400;
}
.first,.second{
    display: inline-block;
    width: 9.25rem;
    color: hsl(215, 51%, 70%);
}
.second{
    text-align: right;
}
.eth,.clock{
    position: relative;
    top: 0.125rem;
}
.eth-text{
    color: hsl(178, 100%, 50%);
}
hr{
    border: 0.0625rem solid hsl(215, 32%, 27%);
    margin: 1.25rem 0;
}
.card-avatar{
    width: 1.875rem;
    border-radius: 0.9375rem;
    border: 0.0625rem solid hsl(0, 0%, 100%);
}
span.credit{
    font-size: 1.125rem;
    position: relative;
    left: 0.625rem;
    bottom: 0.6rem;
}
.name-prefix{
    color: hsl(215, 51%, 70%);
}